{% load static %}

<!DOCTYPE html>

<head>
    <title>FixMe-about</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'signin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8 />

    <style>
        article, aside, figure, footer, header, hgroup,
        menu, nav, section { display: block; }
    </style>

</head>

<body style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({% static 'pic1.jpg' %})!important;">

<header style="hight:100px !important">

    <img src="{% static 'logo.png' %}" alt="Logo" style="position:absolute; left:0px; top:0px; margin: 00px 15px 15px 20px; max-width: 200px; height: 100px;" >

    <ul class="main-nav" style=" width: 100%!important; text-align: right!important; vertical-align:bottom!important; line-height:110px!important; height:120px!important; background:transparent !important;" >
        <li ><a href="/imageupload/"> HOME </a></li>
        <li><a href="/about/"> ABOUT </a></li>
        <li><a href="/contact/"> CONTACT </a></li>
        <li ><a href="/signin/"> LOGOUT </a></li>
    </ul>


					<div class="box">
						<div class="content">
								<h2 class="align-center" style="background-color: #FFFFFF">FixMe</h2>
								<p class="align-center" style="color: #FFFFFF">Severe Damage Estimation System</p>
							<hr />
							<p class="align-center" style="color: #FFFFFF">This application solely focused on to reduce the time that spent on the street after a vehicle collision by developing a system that can validate the damage and estimating a cost for that.</p>
						</div>
					</div>


</header>


<footer id="footer" class="wrapper" style="margin-top: -100px !important;">

					<div class="copyright">
						 copyright &copy; <a href="http://127.0.0.1:8000/home/">FixMe </a>. All Rights Reserved
					</div>

</footer>

</body>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>



</html>
